<form id="prompt" action="" method="">
  <input type="text" id="username" placeholder="Enter your name to join..." />
</form>

<header>
  <h1>{{title}}</h1>
</header>

<section id="guesses">
  <form action="" method="">
    <input type="text" id="guess" placeholder="Enter your guess..." />
  </form>

  <ul>
  </ul>
</section>

<section>
  <canvas width="500" height="750" id="drawing"></canvas>
</section>

<section id="chat">
  <header>
    <h1>Chat</h1>
  </header>
</section>
